*{ 
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    background-color: #F6FB06;
    color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;  
}

.cabecalho-imagem{ 
    width: 10%;
    height: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px; 
}

.escola{
    background-image: linear-gradient(#F6FB06, #494625);
    color: blue;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.xavier-imagem{
    width: 250px;
    height: 160px;
}

.ciclope-imagem{
    width: 300px;
    height: 160px;
}

.jean-imagem{
    width: 200px;
    height: 160px;
}

.wolverine-imagem{
    width: 250px;
    height: 160px;
}

.tempestade-imagem{
    width: 300px;
    height: 160px;
}

.xavier-icone{
    width: 24px;
}

.professores-div{
    text-align: center;
}

.professores-titulo{
    text-align: center;
    padding: 25px 0;
}

.professores-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}